name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/zephyrproject-rtos/ci:v0.25.9
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: debugprobe
      - name: Initialize Zephyr workspace
        run: |
          cd /workdir
          west init -l debugprobe
          west update
          west zephyr-export
      - name: Build for rpi_pico
        run: |
          cd /workdir
          west build -b rpi_pico -d build_rpi_pico debugprobe
      - name: Build for rpi_pico/rp2040/w
        run: |
          cd /workdir
          west build -b rpi_pico/rp2040/w -d build_rpi_pico_w debugprobe